@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&family=Victor+Mono:wght@100&display=swap');

*{   /* Reset para Navegador  */
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    display: flex; /* Voltar na explicação */  
    justify-content: center;
    background: linear-gradient(#75e0fb, #bbb9b4);
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}

.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;  /*  tamanho do texto ou fonte  */ 
    font-weight: 600; /* bold  */
    color: #1a4994;
    font-family: 'Times New Roman', Times, serif;
}
.redes-sociais{
    margin-top: 20px;  /* margem superior */
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}
.icone, .email{
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    margin: 3px;
    overflow: hidden; 
}
.icone i, .email i{
    display: flex;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background: #bbb9b4;
    color: #1a4994;
}